.container {
  display: flex;
  
}

.row {
  flex-direction: row;
  justify-content: flex-start;
}

.passos{
  padding: 5px;
}

.seta{
  font-size: 50px;
}

.texto{
  width: 10%;
  font-size: 20px;
  padding: 0 0 0 15px;
}

.texto p {
  text-align: justify;
}

.texto h1{
  margin: 0;
  padding: 0;
}

.division{
  padding-top: 1%;
}

#howToContainer{
  width: 70%;
  justify-self: center;
}