html, body{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Saira Extra Condensed', sans-serif;
  background-color: #e6e6e6;
}


.App {
  text-align: center;
  display:grid;
  grid-template-rows: 80px ;
  grid-template-areas: "n"
                       "m";

  grid-row-gap: 50px;
}


Nav{
  grid-area: n;
}

#home{
  grid-area:m;
}
a { 
  color: inherit; 
  text-decoration: none;
} 